<form [formGroup] = "formulario" (ngSubmit)="actualizar()">
  <ul>
    <li>
      <label>Región</label><br>
      <select formControlName="region" >
        <option value="" selected>Select</option>
        <option value="Valparaíso">Valparaíso</option>
        <option value="Metropolitana">Metropolitana</option>
        <option value="Bio Bio">Bio Bio</option>
        <option value="Araucanía">Araucanía</option>
      </select>
    </li>
    <li>
      <label>Estado del Clima</label><br>
      <input formControlName="soleado" type="radio" value="soleado">Soleado <br>
      <input formControlName="lluvioso" type="radio" value="lluvioso">Lluvioso <br>
      <input formControlName="nublado" type="radio" value="nublado">Nublado <br>
      <input formControlName="tormenta" type="radio" value="tormenta">Tormenta <br>
    </li>
    <li>
      <label >Día</label><br>
      <select formControlName="dia">
        <option value="" selected>Select</option>
        <option value="Lunes">Lunes</option>
        <option value="Martes">Martes</option>
        <option value="Miércoles">Miércoles</option>
        <option value="Jueves">Jueves</option>
        <option value="Viernes">Viernes</option>
        <option value="Sábado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select>
    </li>
    <li>
      <label for="temperatura">Temperatura</label><br>
      <input formControlName="temperatura"type="number" name="temperatura" placeholder="Input">
    </li>
    <li>
      <label>Grados</label><br>
      <input formControlName="celsius" type="radio" value="celsius">Celsius <br>
      <input formControlName="fahrenheit" type="radio" value="fahrenheit">Fahrenheit <br>
    </li>
    <div class="boton">
      <button type="submit">Actualizar</button>
    </div>
  </ul>
</form>
