<form [formGroup] = "formulario" (ngSubmit)="actualizar()">
  <ul>
    <li>
      <label>Región</label><br>
      <select [formControlName]="region" >
        <option value="null" selected>Select</option>
        <option value="Valparaíso">Valparaíso</option>
        <option value="Metropolitana">Metropolitana</option>
        <option value="Bio Bio">Bio Bio</option>
        <option value="Araucanía">Araucanía</option>
      </select>
    </li>
    <li>
      <label for="clima">Estado del Clima</label><br>
      <input type="radio">Soleado <br>
      <input type="radio">Lluvioso <br>
      <input type="radio">Nublado <br>
      <input type="radio">Tormenta <br>
    </li>
    <li>
      <label for="dia">Día</label><br>
      <select class="dia" name="dia" >
        <option value="" selected>Select</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miércoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sábado</option>
        <option value="7">Domingo</option>
      </select>
    </li>
    <li>
      <label for="temperatura">Temperatura</label><br>
      <input type="number" name="temperatura" placeholder="Input">
    </li>
    <li>
      <label for="grados">Grados</label><br>
      <input type="radio" >Celsius <br>
      <input type="radio" >Fahrenheit <br>
    </li>
    <div class="boton">
      <button type="submit">Actualizar</button>
    </div>
  </ul>
</form>
