<div class="temperaturas">
  <button (click) = "ventanaC()">Celsius</button>
  <button (click) = "ventanaF()">Fahrenheit</button>
</div>

<div class="clima">
  <a [routerLink]="['/actualizar']" routerLinkActive="router-link-active">
    <div class="tiempo" *ngFor="let item of regiones[0].semana" >
      <span>{{item.nombreD}}</span> <br>
      <img src="assets/{{item.imagen}}" >
      <br>
      <ng-container *ngIf="tempC"> <span>{{item.tempC}}°</span> </ng-container>
      <ng-container *ngIf="tempF"> <span>{{item.tempF}}°</span> </ng-container>
      <br>
      <span>{{item.tiempo}}</span> <br>
    </div>
  </a>
</div>


<div class="piePagina">
  <span>Al dar click sobre cada dia permitira actualizar la informacion</span>
</div>
