div.clima.tiempo{
  display: flex;
  font: oblique 15px cursive;
}
div.temperaturas{
  padding-left: 54%;
}
button{
  border:0px;
  padding:1%;
  background-color: white;
  font: oblique 15px cursive;
}
button:hover{
  color: gray;
}
button:active{
  color:red;
}
div.clima a{
  display: flex;
  text-align: center;
  padding-bottom: 7%;
  padding-top: 4%;
  text-decoration: none;
  color: black;
  font: oblique 15px cursive;
}
div.piePagina{
  margin-left: 3%;
  font: oblique 15px cursive;

}
